@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.author, .published {
  @apply text-gray-500 text-sm font-sans;
}

.title {
  @apply text-6xl text-gray-600 py-8 italic font-extrabold font-title;
}

.description {
 @apply text-gray-500 py-4 font-sans;
}


.cover-image {
  @apply w-full h-64 object-cover rounded-lg mb-4;
}

a {
  color: var(--color-gray-600);

} 

a:visited {
  color: var(--color-gray-600);
}

.sidebar {
  grid-area: 1 / 2 / 2 / 3;
}

main {
  grid-area: 1 / 3 / 2 / 4;
}

.tag {
  border: none !important;
  background-color: inherit !important;
}