@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", monospace;
}

html {
  background-color: #e4ebff;
}

a:link,
a:visited {
  color: #416bce
}

.contain {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 10em 40em 10em 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}

.backdrop {
  grid-area: 1 / 1 / 2 / 6;
}

.sidebar {
  grid-area: 1 / 2 / 2 / 3;
}

main {
  grid-area: 1 / 3 / 2 / 4;
}

@media (max-width: 1024px) {
  .contain {
    @apply flex flex-col;
  }
}

.markdown>h1 {
  font-size: 2em !important;
}

.markdown>h2 {
  font-size: 1.75em !important;
  padding-top: 1em;
  padding-bottom: 1em;
}

.markdown>blockquote {
  font-style: italic;
}

.markdown>blockquote,
.markdown>ul,
.markdown>*>ul,
.markdown>ol,
.markdown>*>ol {
  margin-left: 2em;
}

.markdown>ul,
.markdown>*ul,
.markdown>ol,
.markdown>*>ol {
  padding: 0.5em;
}

.markdown>ul,
.markdown>*>ul {
  list-style: square !important;
}

.markdown>*>ol {
  list-style: decimal !important;
}

pre.astro-code.github-dark,
.markdown>blockquote {
  padding: 0.5em;
  margin-bottom: 1.5em !important;
  margin-top: 1.5em !important;
}


.markdown>p>code,
.markdown>*>li>code,
.markdown>blockquote {
  background-color: #CED3D9 !important;
}

.markdown>h3 {
  font-size: 1.25em !important;
  padding-bottom: 1em;
  padding-top: 1em;
}

.frontmatter {
  font-size: 0.85em;
}

.tag {
  border: none !important;
  background-color: inherit !important;
}