---
import Floppy from "../components/Floppy.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about">
  <div class="mb-4">
    <Floppy />
  </div>
  <ul>
    <h1>hi, i'm josh (@ranguli) and i am on the computer.</h1>
    <li class="pt-8">
      i'm mainly interested in open source software, cybersecurity, a touch of
      game dev, retrocomputing, and amateur radio.
      <li class="pt-8">
        this site serves as a place for me to document my explorations into
        those fields. check out the <a href="/posts">posts</a> page to follow those
        adventures.
      </li>
      <li class="text-sm pt-6">made in canada 🇨🇦</li>
    </li>
  </ul>
</BaseLayout>
