---
import Floppy from "../components/Floppy.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about">
  <div>
    <div class="mb-4">
      <Floppy />
    </div>
    <div class="prose m-2 font-serif">
      <div class="py-8 ">
        <p>Hi, I'm Josh and I am on the computer.</p>
        <p>I'm mainly interested in open source software, cybersecurity, a touch of
          game dev, retrocomputing, and amateur radio.</p>
        <p>This site serves as a place for me to document my explorations into
          those fields. check out the <a href="/posts">posts</a> page to follow those
          adventures.</p>
        <p class="text-sm">made in canada 🇨🇦</p>
      </div>
      <slot />
    </div>
</BaseLayout>
