---
import "../styles/global.css";

const { title } = Astro.props;
const url = new URL(Astro.request.url);
---

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="posts on joshmurphy.ca"
      href="/rss.xml"
    />
    <title>{title} - joshmurphy.ca</title>
  </head>
  <body class="flex flex-col">
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl my-4 mx-auto px-2">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
          <!-- Primary Menu Items -->
          <div class="flex flex-col md:flex-row md:items-center md:space-x-4">
            <a href="/" class="lg-nav-item font-bold">joshmurphy.ca</a>
            <a href="/posts/" class="lg-nav-item">posts</a>
            <a href="/tags/" class="lg-nav-item">tags</a>
          </div>
          <!-- Secondary Navbar Items -->
          <div class="flex flex-col md:flex-row md:items-center md:space-x-4 mt-2 md:mt-0 md:ml-auto">
            <a href="mailto:hello@joshmurphy.ca" class="lg-nav-item">
              <i class="fas fa-at text-xl"></i>
            </a>
            <a href="https://github.com/ranguli/" class="lg-nav-item">
              <i class="fab fa-github text-xl"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="container mx-auto p-4 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
        <slot />
      </div>
    </main>
  </body>
  
  
  
  
  
  
  
  
  
  
</html>
