---
import "../styles/global.css";

const { title } = Astro.props;
const url = new URL(Astro.request.url);
---

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="posts on joshmurphy.ca"
      href="/rss.xml"
    />
    <title>{title} - joshmurphy.ca</title>
  </head>

  <body class="flex flex-col">
    <div
      class="sidebar container mx-auto p-4 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl"
    >
      <nav>
        <div class="basis-8">
          <h1 class="font-bold">josh murphy</h1>
        </div>

        <div class="px-8 basis-4">
          <p>
            <a href="/">about</a>{url.pathname === "/" && "←"}
          </p>
        </div>
        <div class="px-8 basis-4">
          <p>
            <a href="/posts/">posts</a>{
              url.pathname.startsWith("/posts") && "←"
            }
          </p>
        </div>
        <!--
            <p>
              <a href="/things/">things</a>{
                url.pathname.startsWith("/things") && "←"
              }
            </p>
            -->
        <div class="px-8 basis-4">
          <p>
            <a href="/tags/">tags</a>{url.pathname.startsWith("/tags") && "←"}
          </p>
        </div>
        <div class="px-8 basis-4">
          <a href="https://github.com/ranguli/">
            <i class="fab fa-github w-3.5"></i>
          </a>
        </div>
        <div class="px-8 basis-4">
          <a href="#">
            <i class="fab fa-mastodon w-3.5"></i>
          </a>
        </div>
        <div class="px-8 basis-4">
          <a href="mailto:hello@joshmurphy.ca">
            <i class="fas fa-at w-3.5"></i>
          </a>
        </div>
      </nav>
    </div>

    <main>
      <div class="container mx-auto p-4 md:max-w-2xl lg:max-w-3xl xl:max-w-4xl">
        <slot />
      </div>
    </main>
  </body>
</html>
