---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

const { title } = Astro.props;
const url = new URL(Astro.request.url);
---

<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{title} - jackharrhy</title>
  </head>
  <body class="bg-background h-full text-[18px] flex">
    <Navigation />
    <hr class="my-8 border border-slate-400 lg:hidden" />
    <main class="px-8 py-4 lg:pt-8 bg-background">
      <slot />
    </main>
  </body>
</html>
