---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="markdown">
    <h1>{frontmatter.title}</h1>
    <p class="frontmatter">{frontmatter.pubDate.toString().slice(0, 15)}</p>
    <p class="frontmatter">{frontmatter.author}</p>
    <p class="frontmatter">{frontmatter.description}</p>
    <br />
    <slot />
  </div>
</BaseLayout>
