---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <h1 class="text-3xl">{frontmatter.title}</h1>
  <p class="frontmatter">{frontmatter.pubDate.toString().slice(0, 15)}</p>
  <p class="frontmatter">{frontmatter.description}</p>
  <br />
  <div class="prose prose-joshmurphyca prose-code:font-mono max-w-none w-full">
    <slot />
  </div>
</BaseLayout>
