---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="py-8 ">
    <h1 class="title">{frontmatter.title}</h1>

    <h2 class="description">{frontmatter.description}</h2>
  
    <p class="published">Published on {frontmatter.pubDate.toString().slice(4, 15)}</p>
    <p class="author">{frontmatter.author}</p>

  </div>
  <div class="prose font-serif">
    <slot />
  </div>
</BaseLayout>
